.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.roulette {
  position: relative;
  display: block;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 5px solid #000;
  transition: transform 2s ease-out;
}

.slice {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 50%;
  transform-origin: 0% 100%;
  overflow: hidden;
}

.content {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(25.7143deg);
}

.icon {
  font-size: 24px;
}

.name {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.rouletteWrapper {
  position: relative;
}

.seta {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 110px;
}
